mspm0/project/ccs/build/
**/__pycache__/
*.pyc
*.log
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.5.hex
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.5.out
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.5.map
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.6.hex
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.6.out
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.6.map
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.7.hex
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.7.out
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.7.map
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.16.hex
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.16.out
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.16.map
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.17.hex
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.17.out
!dist/h_vehicle_ball_balance_mspm0g3507_v1.0.17.map
